<!-- app.component.html -->

<div class="dashboard-container">
  <div class="sidebar">
    <p class="welcome-text">Welcome {{admin.name}}!</p>
    <ul class="nav">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="'profile/' + admin.userId">View Profile</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'edit-user/' + admin.userId">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'list-users'">List users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'admin-notifications'">Notifications</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'all-posts'">List Posts</a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'report'">Reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link logout" (click)="logout()" href="login">Log out</a>
      </li>   
    </ul>
  </div>

  <div class="main-content">
    <main role="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
