<div class="container">
    <div class="search-container">
      <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchTerm" (input)="onSearch()">
      <p>{{errmsg}}</p>
    </div>
  
    <div class="user-list">
      <div *ngFor="let u of users" class="user-card">
        <div class="user-details">
          <div class="user-info">
            <div class="user-label">User ID:</div>
            <div class="user-value">{{ u.userId }}</div>
          </div>
          <div class="user-info">
            <div class="user-label">Name:</div>
            <div class="user-value">{{ u.name }}</div>
            <span *ngIf="u.type=='Verified'" class="verified">Verified</span>
          </div>
          <div class="user-info">
            <div class="user-label">Email:</div>
            <div class="user-value">{{ u.userEmail }}</div>
          </div>
          <div class="user-info">
            <div class="user-label">Type:</div>
            <div class="user-value">{{ u.type }}</div>
          </div>
          <div class="user-actions" *ngIf="u.status == 'Requested'">
            <button class="btn btn-primary" (click)="upgradefn(u.userId)">Upgrade Request</button>
            <button class="btn btn-primary" (click)="rejectfn(u.userId)">Reject Request</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  