<div class="container">
    <div class="search-container">
        <input type="text" class="form-control search-bar" placeholder="Search by Name" [(ngModel)]="searchTerm" (input)="onSearch()">
        <p>{{errmsg}}</p>
    </div>
    <br>
    <div class="card-container">
        <div class="card" *ngFor="let u of users">
            <div class="card-header" [ngClass]="{'verified-header': u.type == 'Verified'}">
                <h5 class="card-title">{{ u.name }}</h5>
                <span *ngIf="u.type == 'Verified'" class="badge verified-badge">Verified</span>
            </div>
            <div class="card-body">
                <p><strong>User Name:</strong> {{ u.userId }}</p>
                <p><strong>Role:</strong> {{ u.role }}</p>
                <p><strong>User Email:</strong> {{ u.userEmail }}</p>
                <p><strong>User Type:</strong> {{ u.type }}</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary action-btn" (click)="blockfn(u.userId)" *ngIf="u.type !== 'Admin' && u.type !=='Blocked'">Block</button>
                <button class="btn btn-primary action-btn" (click)="postByUser(u.userId)">Posts</button>
            </div>
        </div>
    </div>
</div>
